.healthcare {
  padding: 80px 0px 80px 0px;
}

.healthcare__block-text {
  margin: 0px 0px 45px 0px;
}

.block-text_center {
  text-align: center;
}

.block-text__text_mw {
  max-width: 600px;
  margin: 0px auto;
}

/* HEALTHCARE__COLUMN */

.healthcare__column {
  position: relative;
  padding: 0px 36px;
  flex: 0 1 33.333%;
}

/* HEALTHCARE__ITEMS */

.healthcare__items {
  display: flex;
}

.item-healthcare {
  position: relative;
  z-index: 2;
  height: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 36px 17px;
}

.item-healthcare__icon {
  margin: 0px 0px 58px 0px;
}

.item-healthcare__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 138.5%;
  color: #000000;
  margin-bottom: 4px;
}

.item-healthcare__text {
  line-height: 138.5%;
}

/* DECOR */

.healthcare__column_1::after,
.healthcare__column_1::before {
  content: "";
  position: absolute;
  background-color: #ec5863;
  border-radius: 16px;
}

.healthcare__column_1::before {
  width: 65px;
  height: 65px;
  bottom: -100px;
  left: 15px;
  transform: rotate(-30deg);
}

.healthcare__column_1::after {
  width: 97px;
  height: 97px;
  top: 35px;
  right: -10px;
  border-radius: 30px;
  transform: rotate(30deg);
}

.healthcare__column_2::after {
  content: "";
  position: absolute;
  background-color: #ec5863;
  border-radius: 16px;
  width: 127px;
  height: 127px;
  bottom: -95px;
  right: -30px;
  border-radius: 30px;
  transform: rotate(55deg);
}

.healthcare__column_3::after {
  content: "";
  position: absolute;
  background-color: #ec5863;
  border-radius: 16px;
  width: 65px;
  height: 65px;
  top: -35px;
  right: 10px;
  border-radius: 16px;
  transform: rotate(60deg);
}

/* PC */

@media (max-width: 1087px) {
  .healthcare__column {
    padding: 0px 15px;
  }
}

/* TABLET */

@media (max-width: 991.98px) {
  .healthcare {
    padding: 30px 0px 30px 0px;
  }

  .healthcare__items {
    flex-direction: column;
  }

  .healthcare__column:not(:last-child) {
    margin: 0px 0px 25px 0px;
  }
}
