.header__button {
  position: relative;
  z-index: 1;
  flex: 0 0 252px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media (max-width: 991.98px) {
  .header__button {
    flex: 0 0 170px;
  }
}

.button {
  display: inline-block;
  font-family: Raleway;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 1px;
  color: #fcfdfe;
  padding: 14px 30px;
  border-radius: 5px;
  background-color: #ec5863;
  transition: background-color 0.3s ease 0s;
}

.button:hover {
  background-color: #ffb7bb;
}

.button_blue {
  background-color: #4385f4;
}

.button_blue:hover {
  background-color: #78aaff;
}

.close_icon_menu,
.icon_menu {
  display: none;
}

@media (max-width: 767.98px) {
  .icon_menu {
    position: relative;
    flex: 0 0 30px;
    height: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px 0px 0px 20px;
  }

  .icon_menu::before,
  .icon_menu::after {
    content: "";
    background-color: #000;
    height: 2px;
  }

  .icon_menu span {
    height: 2px;
    background-color: #000;
  }

  .header__button .button {
    padding: 14px 20px;
  }

  .close_icon_menu {
    flex: 0 0 30px;
    position: relative;
    margin: 0px 0px 0px 20px;
  }

  .close_icon_menu::before,
  .close_icon_menu::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    background-color: #000;
    height: 2px;
  }

  .close_icon_menu::before {
    transform: rotate(45deg);
  }

  .close_icon_menu::after {
    transform: rotate(-45deg);
  }

  .header:target .icon_menu {
    display: none;
  }

  .header:target .close_icon_menu {
    display: flex;
  }
} ;
